# Dependencies
node_modules/

# Playwright reports
playwright-report/
test-results/
blob-report/

# Playwright cache and authentication
playwright/.cache/
playwright/.auth/

# Screenshots
screenshots/

# Videos
*.webm